#Grails Metadata file
#Tue Apr 05 14:52:46 CEST 2011
app.grails.version=1.3.5
app.name=signuptool
app.version=0.1
plugins.hibernate=1.3.5
plugins.spocp=0.1.7
plugins.su-config=0.4.6
plugins.su-feed-parser=0.4
plugins.tomcat=1.3.5
plugins.webflow=1.3.7
