/* ---------------------------------------------------------------------------------------------------- */
/* ----- IE.css */
/* This stylesheet contains styles for Internet Explorer 6.0 and below */
/* ---------------------------------------------------------------------------------------------------- */
/* GENERAL LAYOUT: BODY, CONTAINERS, TOP LINKS, HEAD, FOOTER */
body { height: 100%; }
/* --------------- Containers */
#content {
	height: 100%;
	position: relative; 
}
#container {
	height: 100%;
	position: relative; 
}
/* --------------- /Containers */
/* --------------- Head */
/* ----- Head left */
/* --- Head row left (menu) */
ul.head-row-menu li {
	width: 1px;
	white-space: nowrap;
}
ul.head-row-menu li a {
	position: relative;
    top: 3px;
}
/* --- Head row right (search) */
.head-search input {
	position: relative;
    top: 3px;
}
.head-search input.button {
	position: relative;
    top: 3px;
}
/* --------------- /Head */
/* --------------- Footer */
.footer { border-top: solid 1px #ffffff; }
/* --------------- /Footer */
/* /GENERAL LAYOUT: BODY, CONTAINERS, TOP LINKS, HEAD, FOOTER */
/* ---------------------------------------------------------------------------------------------------- */
/* PAGE LAYOUT */
/* --------------- Top links */
.top-links { height: 1px; }
/* --------------- Top links */
/* --------------- Column containers */
.columns { position: relative; height: 100%; padding-bottom: 60px; }
/* --------------- /Column containers */
/* --------------- Start columns */
.start-columns .column { height: 200px; }
.start-columns .col-25 { width: 24.9%; }
.start-columns .col-50 { width: 49.9%; }
.start-columns-row { height: 1px; }
.start-columns-row .col-50 .section {
	margin: 8px 1px 8px 1px;
}
/* --------------- /Start columns */
/* --------------- Fixed columns */
/* --- Main */
/* - Container */
/* - Columns */
.main-columns { position: relative; height: 100%; }
.main-columns-left { height: 100%; }
.main-columns-right { height: 100%; }
/* --------------- /Fixed columns */
/* --------------- Sections */
/* --- Splitted */
.split-sections { height: 1px; }
/* --- Split 50 */
.split-50 { background-position: 50% top; }
.split-50 .split-section { width: 48%; }
/* --------------- /Sections */
/* /PAGE LAYOUT */
/* ---------------------------------------------------------------------------------------------------- */
/* NAVIGATION */
/* --------------- Left column menu */
/* --- Design */
.menu { height: 1px; }
.menu ul { height: 1px; }
/* --------------- /Left column menu */
/* /NAVIGATION */
/* ---------------------------------------------------------------------------------------------------- */
/* ELEMENTS */
/* --------------- Path, tools */
ol.path { 
	height: 25px; 
	position: relative; top: -1px; 
}
.tools { 
	height: 25px; 
	position: relative; top: -1px; 
}
/* --------------- /Path, tools */
/* --------------- Lists */
.content-block ol { padding-left: 0; }
.content-block ul { margin-left: 8px;  }
/* --------------- /Lists */
/* --------------- Article */
/* --- Article containers */
.main-article { height: 1px; }
/* --- Article text */
.article-text { height: 1px; }
/* --- Article related */
.article-related-items { width: 49%; }
/* --- Article info */
.article-info { height: 1px; }
/* --- Article tools */
.article-tools { height: 1px; }
/* --------------- /Article */
/* --------------- Image block */
.image-block { height: 1px; }
/* --------------- /Image block */
/* --------------- Link block */
.link-block { height: 1px; }
/* --------------- /Link block */
/* --------------- Content blocks */
/* --- Default */
.content-block-link { height: 1px; }
/* - Clear block headings */
.block-clear h1 { background-image: none; }
.block-clear h2 { background-image: none; }
/* - Right column defaults */
.main-columns-right .content-block { height: 80px; }
.main-columns-right .content-block { position: relative; } 
.main-columns-right .content-block-inner { height: 1px; }
/* --- Clear block */
.content-block.block-clear, .block-clear .content-block { height: 1px; position: relative; }
/* --------------- /Content blocks */
/* /ELEMENTS */
/* ---------------------------------------------------------------------------------------------------- */
/* COLUMN SPLITTERS */
/* --------------- Correct columns splitter content-block appearance */ 
/* ----- Colors and backgrounds */
.main-columns-left div.color-block { background-image: none; }
/* --------------- /Correct columns splitter content-block appearance */
/* /COLUMN SPLITTERS */
/* ---------------------------------------------------------------------------------------------------- */
/* PROGRESS AND WIZARDS */
/* --------------- Progress indicator */
div.progress li.active { background-image: url(../img/_ie/process-arrow.gif); }
/* --------------- /Progress indicator */
/* /PROGRESS AND WIZARDS */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ICONS AND LISTS */
/* --------------- Generated lists */
ul.generated-list {
	position: relative;
    left: -8px;
}
/* --------------- /Generated list */
/* --------------- Event calendar */
.event-calendar ul { height: 247px; }
.event-calendar-block ul { height: 237px; }
/* --------------- /Event calendar */
/* --------------- Icons */
.teaser-list ul li { 
	min-height: 1px; 
	margin-bottom: 6px;
	padding-top: 8px;
	background-image: url(../img/divider-thin-horisontal.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
/* --- Print */
a.icon-print { background-image: url(../img/_ie/icon-print.gif); }
/* --- Feed */
a.icon-feed { background-image: url(../img/_ie/icon-feed.gif); }
/* --- Share */
a.icon-share { background-image: url(../img/_ie/icon-share.gif); }
/* --- Tip */
a.icon-tip { background-image: url(../img/_ie/icon-tip.gif); }
/* --- Print */
a.icon-comment { background-image: url(../img/_ie/icon-comment.gif); }
/* --------------- /Icons */
/* /ICONS AND LISTS */
/* ---------------------------------------------------------------------------------------------------- */
/* IMAGE GALLERY */
/* --------------- Image gallery */
ul.gallery * {
	margin: 0;
	padding: 0;
}
ul.gallery {
	margin: 0;
	padding: 0;
	border-top: solid 3px #ffffff;
	border-left: none;
	list-style-type: none;
	clear: both;
	background-color: #ffffff;
	min-height: 1px;
	display: inline;
}
ul.gallery li {
	display: inline;
	margin: 0;
	padding: 0;
	border-right: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
	line-height: 0px;
	font-size: 0px;
	display: block;
	float: left;
}
ul.gallery-3-cols { width: 251px;}
ul.gallery-3-cols img { width: 80px; height: 80px;}
ul.gallery-4-cols { width: 320px; height: 1px; }
ul.gallery-4-cols img { width: 74px; height: 74px;}
/* --------------- /Image gallery */
/* /IMAGE GALLERY */
/* ---------------------------------------------------------------------------------------------------- */
/* CALENDARS */
/* ------------ Start page calendar */
.calendar ul { height: 225px; }
.calendar li { height: 38px; }
/* ------------ /Start page calendar */
/* /CALENDARS */
/* ---------------------------------------------------------------------------------------------------- */

