/* ---------------------------------------------------------------------------------------------------- */
/* ----- deprecated-styles-print.css */
/* This stylesheet contains styles used by the old look (sisu, fek, intwebb), see styles.css for instrutions */
/* Styles in this stylesheet are drawn from the older version of print.css */
/* ---------------------------------------------------------------------------------------------------- */
/* PRINT STYLES */
/* --------------- Page layout */
/* --- Left column */
/* --- Column containers */
.main-columns-left { width: 492px; }
.min-max {
	min-width: 472px;
	max-width: 472px;
}
.fullsize .min-max {
	min-width: 592px;
	min-width: 592px;
} 
.main-columns-right { display: block; width: 164px; }
/* --- Column dividers */
/* - Two columns */
.dotted-split-two { background-image: none; }
.line-split-two { background-image: none; }
.fullsize .dotted-split-two { background-image: none; }
.fullsize .line-split-two { background-image: none; }
/* - Three columns */
.dotted-split-three { background-image: none; }
.line-split-three { background-image: none; }
.fullsize .dotted-split-three { background-image: none; }
.fullsize .line-split-three { background-image: none; }
/* - Four columns */
.dotted-split-four { background-image: none; }
.line-split-four { background-image: none; }
/* - One left, two right columns */
.dotted-line { background-image: none; }
/* --------------- /Page layout */
/* ---------------------------------------------------------------------------------------------------- */