/* ---------------------------------------------------------------------------------------------------- */
/* ----- IE.css */
/* This stylesheet contains styles for Internet Explorer 6.0 and below */

/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* START PAGE LAYOUT */
/* --------------- Start top */
.start-top { height: 451px; }
.start-top-inner { height: 451px; }
.start-top-left { height: 451px; padding-bottom: 1px; }
/* ----- Promotion */
.start-promo { height: 451px; }
.start-promo-content { height: 391px; }
.start-promo-text { height: 371px; }
.start-promo-description {
	height: 61px;
	bottom: 0;
	background-image: none;
	background-color: #ffffff;
	filter:alpha(opacity=90);
}
.start-promo-description .left { height: 20px; }
/* ----- /Promotion */
/* ----- Top right */
/* --- Default */
.start-top-right h1 { height: 20px; }
.start-top-right .content-block { 
	background-image: url(/img/start-gradient-489.gif);
	height: 224px;
	margin: 0; padding: 0; 
	width: 475px;
}
.start-top-right .content-block-inner { height: 127px; }
.start-top-right .content-block-water .content-block-link a { background-image: url(/img/_ie/icon-go-3.gif); }
.start-top-right .content-block-olive .content-block-link a { background-image: url(/img/_ie/icon-go-4.gif); }
/* ----- /Top right */
/* --------------- /Start top */
/* --------------- Start mid */
.start-mid { height: 224px; }
.start-mid-inner { height: 224px;  }
/* ----- Mid left */
/*.start-mid-left div { padding: 1px; }*/
.start-mid-left { height: 1px; }
.start-mid-left h1 { height: 20px; }
.start-mid-left content-block-sky { height: 1px; }
.start-mid-left .content-block { 
	height: 224px;
	background-image: url(/img/_ie/start-water-gradient.gif);
	background-position: top right;
	background-repeat: no-repeat;
	width: 480px;
}
.start-mid-left .content-block-inner { 
	height: 126px;
}
.start-mid-left .content-block-link {}
.start-mid-left .content-block-sky .content-block-link a {
	background-image: url(/img/_ie/icon-go-5.gif);
}
/* ----- /Mid left */
/* ----- Mid right */
.start-mid-right { height: 1px; }
.start-mid-right .columns-split-two { height: 1px; }
.start-mid-right .column { width: 230px; }
/* --- Search */
.start-search { background-color: transparent; }
.start-search .content-block { height: 224px; width: 230px; border-right: none;  }
.start-search h1 { height: 20px; }
.start-search .content-block-inner { 
	height: 134px;
	padding-bottom: 22px;
}
.start-search .content-block-link { height: 1px; }
.start-search .content-block-link a {
	background-image: url(/img/_ie/icon-go-2.gif);
}
/* --- What's on */
.start-whats-on .content-block { height: 224px; width: 230px; }
.start-whats-on h1 { height: 20px; }
.start-whats-on .content-block-inner { 
	padding-top: 4px;
	padding-bottom: 10px;
	height: 134px; 
}
.start-whats-on .content-block-link { height: 1px; }
.start-whats-on .content-block-link a {
	background-image: url(/img/_ie/icon-go-2.gif);
}
/* ----- /Mid right */
/* --------------- /Start mid */
/* --------------- Start bottom */
.start-bottom { 
	height: 1px; 
	background-image: url(/img/_ie/start-bottom-repeater.gif);
	height: 600px;
	padding: 0;
	margin: 0;
}
.start-bottom .content-block-link a {
	background-image: url(/img/_ie/icon-go-1.gif);
}
/*.start-bottom * { margin: 0; padding: 0; }*/
.start-bottom .column { width: 245px;}
.start-bottom .start-news { width: 245px;}
.start-bottom .start-articles-comments { width: 245px; }
.start-bottom .start-people { width: 245px; }
.start-bottom .start-social-life-music { width: 246px; }
/* --- News */
.start-news { height: 590px; }
.start-news .link-block { height: 1px; }
/* --- Articles and comments */
.start-articles-comments { height: 590px; }
.start-comments .content-block-inner { width: 218px; }
/* - Articles */
.start-articles .content-block-inner { width: 218px; }
/* --- People */
.start-people { height: 590px; }
.start-people .content-block-inner { width: 218px; }
/* --- Social life and music player */
.start-social-life-music { height: 590px; }
.start-social-life .content-block-inner { width: 216px; }
/* - Social life */
/* - Music player */
.start-music-player {}
/* Last.fm player */
/* --- Bottom end */
.start-bottom-end { 
	background-image: url(/img/_ie/start-bottom-end.gif);
	padding-bottom: 0;
	height: 7px;
}

/* /START PAGE LAYOUT */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* START 2 PAGE LAYOUT */
/* ----- Start page: Layout and columns */
.main-column.start-page-wrapper  { width: 980px; }
.start-page-wrapper .main-columns-left { width: 654px; }
.start-page-wrapper .main-columns-right { width: 324px; margin-left: 0; }
/* /START 2 PAGE LAYOUT */
/* ---------------------------------------------------------------------------------------------------- */