/* CSS Document - resources.css */
/* This stylesheet contains common styles used for web pages */
/*
================= Element specific CSS =================
TABLE OF CONTENTS
	1. LAYOUT
	2. ACCESSIBILITY
	3. TYPOGRAPHY
	4. PRINT
/* *************************************************** */

/* ********************** 1. LAYOUT ****************** */
.full-width { width: 100%; }
.full-height { height: 100%; }

/* --- Float */
/* float: clears float before and after floating objects (div, table) */
.clear-float {
	display: block;
	clear: both;
	line-height: 0;
	font-size: 0;
	width: 1px;
	height: 0px;
	visibility: hidden;
}
/* float: float element right */
.float-right { float: right; }
.float-left { float: left; }

/* --- Align */
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* ---Wrapping */
.nowrap { white-space: nowrap; }

/* --- Margins */
.no-margins { margin: 0; }

/* --- Paddings */
.no-padding { padding: 0; }

/* --- Borders */
.no-border { border: none; }

/* --- Backgrounds */
.no-bgcolor { background-color: transparent; }
.no-bgimage { background-image: none; }
/* ********************* /1. LAYOUT ****************** */

/* ********************** 2. ACCESSIBILITY *********** */
/* --- Hide elements from web browsers while leaving them readable for screen readers */
.auraltext {
	position: absolute;
	font-size: 0;
	left: -1000px;
}
/* --- Accessibilty links */
.accessibility-link {
	font-size: 0;
	line-height: 0;
}
/* ********************* /2. ACCESSIBILITY *********** */

/* ********************** 3. TYPOGRAPHY ************** */
br.clear {
	line-height: 0px;
	font-size: 1px;
}
/* ********************* /3. TYPOGRAPHY ************** */

/* ********************** 4. PRINT ******************* */
/* hide object for page print */
@media print { 
	.noprint { display: none }
}
/* ********************* /4. PRINT ******************* */