/* ---------------------------------------------------------------------------------------------------- */
/* ----- resources.css */
/* This stylesheet contains common styles used for web pages */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* FORMS */

/* remove form spacing in MSIE */
form { margin: 0; }

/* /FORMS */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* LAYOUT */

/* --- Width, Height */
/* width and height: sets an element's width to 100% of the surrounding object */
.full-width {
	width: 100%;
}
/* width and height: sets an element's height to 100% of the surrounding object */
.full-height {
	height: 100%;
}

/* --- Float */
/* float: clears float before and after floating objects (div, table) */
.clear-float {
	display: block;
	clear: both;
	line-height: 0;
	font-size: 0;
	width: 1px;
	height: 0px;
	visibility: hidden;
}
/* float: float element right */
.float-right {
	float: right;
}
/* float: float element left */
.float-left {
	float: left;
}

/* --- Align */
/* alignment: right align everything inside this element */
.align-right {
	text-align: right;
}
/* alignment: left align everything inside this element */
.align-left {
	text-align: left;
}
/* alignment: left align everything inside this element */
.align-center {
	text-align: center;
}

/* ---Wrapping */
/* do not wrap object contents (for < IE 6.0 use inline nowrap="nowrap") */
.nowrap { white-space: nowrap; }

/* --- Margins */
/* remove all margins */
.no-margins { margin: 0; }

/* --- Paddings */
/* remove all padding */
.no-padding { padding: 0; }

/* --- Borders */
/* remove all borders */
.no-border { border: none; }

/* --- Backgrounds */
/* remove background color */
.no-bgcolor { background-color: transparent; }
/* remove background image */
.no-bgimage { background-image: none; }

/* /LAYOUT */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ACCESSIBILITY */

/* --- Hide elements from web browsers while leaving them readable for screen readers */
.auraltext {
	position: absolute;
	font-size: 0;
	left: -1000px;
}
/* --- Accessibilty links */
.accessibility-link {
	font-size: 0;
	line-height: 0;
}

/* ACCESSIBILITY */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* TYPOGRAPHY */

/* --- Misc */
br.clear {
	line-height: 0px;
	font-size: 1px;
}
/* --- Fonts */
b { font-weight: bold; }
/* italics */
i {font-style: italic;}

/* /TYPOGRAPHY */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* PRINT */

/* hide object for page print */
@media print { 
	.noprint { display: none }
}

/* /PRINT */
/* ---------------------------------------------------------------------------------------------------- */