.bordered-detail-square {
  border: solid 1px #000000;
  padding: 4px;
}

.header-id-provider {
  font-weight: bold;
}

.state_progress_img {
  width: 128px;
  float: left;
  margin-left: 10px;
}

.pointer_cursor {
  cursor: pointer;
}

.prompt {
  width: 400px;
  padding-right: 14px;
  float: left;
}

.help {
  background-image: url(../img/help_16.gif);
  width: 20px;
  padding-right: 14px;
  padding-left: 16px;
  padding-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.print-details {
  background-image: url(../img/icon-print.png);
  background-position: left;
  background-repeat: no-repeat;
}

.indent-small {
  text-indent: 10px;
}

.signupButton, input.signupButton {
  height: auto;
  width: auto;
  font-size: 160%;
  border: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url(../img/button-background-repeater.gif);
  background-position: left;
  background-repeat: repeat-x;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

input#forwardAddress {
  width: 300px;
}
