.header-id-provider {
  font-weight: bold;
}

.top-spacer-10 {
  padding-top: 10px;
}

.state_progress_img {
  margin-left: 10px;
}

.pointer_cursor {
  cursor: pointer;
}

.prompt {
  width: 400px;
  padding-right: 14px;
  float: left;
}

.help {
  background-image: url(../img/help_16.gif);
  width: 20px;
  padding-right: 14px;
  padding-left: 16px;
  padding-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.print-details {
  background-image: url(../img/icon-print.png);
  background-position: left;
  background-repeat: no-repeat;
}

.indent-small {
  text-indent: 10px;
}

.signupButton, input.signupButton {
  height: auto;
  width: auto;
  font-size: 160%;
  border: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url(../img/button-background-repeater.gif);
  background-position: left;
  background-repeat: repeat-x;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.signupButton.disabled,
.signupButton[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

input#forwardAddress {
  width: 300px;
}

@media screen and (max-width: 800px) {

  body #MainRight {
    display: none;
  }

  .apps-float-50 {
    width: auto;
  }
}
