/* ---------------------------------------------------------------------------------------------------- */
/* ----- template-styles.css */
/* This stylesheet contains stylesheets for specific templates */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ACTIVITIES AND SOCIAL GROUPS */

/* --------------- Activity images */
.activity-image {
	margin-bottom: 6px;
}
/* --------------- /Activity images */

/* --------------- Alphabetical list */
ul.alphabetical {
	padding-top: 0;
	padding-left: 3px;
	padding-right: 0;
	padding-bottom: 0;
	height: 25px;
	margin: 0;
	list-style-type: none;
	
}
ul.alphabetical li {
	float: left;
	padding-right: 8px;
	margin-right: 8px;
	line-height: normal;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 120%;
	border-right: solid 1px #ffffff;
}
ul.alphabetical li.last { border-right: none; }
ul.alphabetical li a:link, ul.alphabetical li a:active, ul.alphabetical li a:visited { text-decoration: none; }
ul.alphabetical li a:hover { text-decoration: underline; }
/* --------------- /Alphabetical list */

/* --------------- Topic list */
.topic-list { 
	font-size: 90%;
	margin-top: 6px;
	margin-left: 18px;
	margin-bottom: 6px;
}
.topics {
	min-height: 1px;
}
.topics ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.topics li {
	margin: 0;
	padding: 0;
	position: relative;
}
/* --------------- /Topic list */

/* /ACTIVITIES AND SOCIAL GROUPS */
/* ---------------------------------------------------------------------------------------------------- */