/* ---------------------------------------------------------------------------------------------------- */
/* ----- medarbetarwebben.css */
/* This stylesheet contains layout styles for medarbetarwebben */
/* ---------------------------------------------------------------------------------------------------- */
/* GENERAL LAYOUT: BODY, CONTAINERS, TOP LINKS, HEAD, FOOTER */
/* --------------- Top links */
.top-links { background-color: #9ab2ce; }
.top-links a { border-color: #ffffff; }
/* --------------- /Top links */
/* --------------- Head */
.head { background-color: #9ab2ce; }
/* ----- Head row */
/* --- Head row left (menu) */
ul.head-row-menu { font-size: 130%; }
/* --------------- /Head */
/* /GENERAL LAYOUT: BODY, CONTAINERS, TOP LINKS, HEAD, FOOTER */
/* ---------------------------------------------------------------------------------------------------- */