/* ---------------------------------------------------------------------------------------------------- */
/* ----- intwebb-print.css */
/* This stylesheet contains print styles for intwebb */
/* ---------------------------------------------------------------------------------------------------- */
/* PRINT STYLES */
/* --------------- Start */
/* --- Start top */
.start-top { 
	min-height: auto;
	height: auto;
	position: inherit;
	background-image: none;
}
.start-top .column {
	min-height: auto;
	height: auto;
	float: none;
}
/* Promo */
.start-top-left {
	width: 660px;
	min-height: auto;
	height: auto;
}
.start-promo {
	position: inherit;
	min-height: auto;
	height: auto;
	text-align: center;
	background-color: #ffffff;
}
.start-promo-content {
	min-height: auto;
	height: auto;
}
.start-promo-image {
	width: auto;
	height: auto;
}
.start-promo-text {
	width: auto;
	min-height: auto;
	height: auto;
}
.start-promo-description {
	background-image: none;
	background-color: #ffffff;
	position: inherit;
	min-height: auto;
	height: auto;
	width: 660px;
}
.start-promo-description .right {
	display: none;
}
/* Study with us, research */
.start-top-right { background-color: #ffffff; }
.start-top-right .content-block {
	width: 660px;
	min-height: auto;
	height: auto;
	position: inherit;
	background-image: none;
}
.start-top-right .content-block-link { display: none; }
.start-top-right .content-block-sky {
	border-left: solid 7px #9bb2ce;
	border-bottom: solid 1px #eaeef4;
	background-color: #ffffff;
	min-height: auto;
	height: auto;
}
.start-top-right .content-block-olive {
	border-left: solid 7px #a3a86b;
	border-bottom: solid 1px #ebece0;
	background-color: #fbfbfc;
}

/* --- Start mid */
.start-mid {
	background-image: none;
	min-height: auto;
	height: auto;
}
.start-mid .column {
	float: none;
	width: 660px;
}
/* - University */
.start-mid-left .content-block {
	min-height: auto;
	height: auto;
	position: inherit;
	border-bottom: solid 1px #ffffff;
}
.start-mid-left .content-block-inner {
	min-height: 204px;
	height: auto;
	background-image: none;
}
.start-mid-left .content-block-link {
	display: none;
}
/* - Search */
.start-search { display: none; }
/* - What's on? */
.start-whats-on {
	width: 660px;
	background-image: url(../img/block-4-fire.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.start-whats-on .content-block {
	min-height: 224px;
	height: auto;
	position: inherit;
}
.start-whats-on .content-block-inner {
	min-height: auto;
	height: auto;
}
.start-whats-on h1 { color: #000000; }
.start-whats-on .content-block-link { display: none; }

/* --- Start bottom */
.start-bottom {
	background-image: none;
	width: 660px;
	min-height: auto;
	height: auto;
}
.start-bottom .column { width: 330px; }
.start-bottom .content-block { width: 329px; }
.start-bottom .content-block-link { display: none; }
.start-news {
	min-height: auto;
	height: auto;
}
/* - University News */
.start-news .content-block-inner { background-image: none; }
.start-articles-comments {
	background-image: none;
	min-height: auto;
	height: auto;
}
.link-block { display: none; }
/* - Articles and comments */
.start-articles-comments  b.author { color: #000000; }
/* - People */
.start-people {
	min-height: auto;
	height: auto;
}
.start-people .content-block-head {
	color: #9bb2ce;
	background-color: #002f5f;
}
.start-people .content-block {
	position: inherit;
	background-color: #ffffff;
	color: #000000;
}
.start-people img {
	margin-left: auto;
	margin-right: auto;
}
.start-social-life-music { 
	background-image: none;
	min-height: auto;
	height: auto;
}
/* - Music player */
.start-music-player { display: none; }
/* End */
.start-bottom-end { display: none; }
/* --------------- /Start */
/* ---------------------------------------------------------------------------------------------------- */