/* ---------------------------------------------------------------------------------------------------- */
/* ----- IE-all-versions.css */
/* This stylesheet contains styles for all versions of Internet Explorer */

/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* START 1 PAGE LAYOUT */
/* --------------- Start mid */
/* ----- Mid right */
/* --- Search */
.start-search input.button {
	line-height: 16px;
}
/* --------------- /Start mid */

/* --------------- Start lists */
.start-top-right ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-1.gif);
	list-style-position: outside;
}
.start-search ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-1.gif);
	list-style-position: outside;
}
.start-mid-left ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-1.gif);
	list-style-position: outside;
}
.start-articles ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-1.gif);
	list-style-position: outside;
}
.start-people ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-2.gif);
	list-style-position: outside;
}
.start-social-life ul {
	list-style-type: none;
	list-style-image: url(..../img/_ie/icon-arrow-1.gif);
	list-style-position: outside;
}
/* --------------- /Start lists */

/* --------------- Start bottom */
/* --- Social life and music player */
/* - Music player */
.start-music-player {
	position: absolute;
	bottom: 9px;
}
/* --------------- /Start bottom */

/* /START 1 PAGE LAYOUT */
/* ---------------------------------------------------------------------------------------------------- */